certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
loki-logger-handler==0.1.4
lxml==5.2.1
python-dateutil==2.9.0.post0
python-logging-loki==0.3.1
PyYAML==6.0.1
requests==2.31.0
rfc3339==6.2
six==1.16.0
urllib3==2.2.1
